@model PTP.EntityLayer.Models.Process

<div class="card mb-2 shadow-sm" data-id="@Model.Id">
    <div class="card-body p-2">
        <h6 class="card-title fw-bold">@Model.Title</h6>
        <p class="card-text text-muted small">@Model.Description</p>
        <span class="badge bg-secondary">@Model.ProcessStage.Name</span>
    </div>
</div>

