@model PTP.UI.Models.ProjectCreateViewModel

<div class="tab-pane fade show active" id="detail-product" role="tabpanel" aria-labelledby="detail-product-tab">
    <div class="sidebar-body">
        <div class="col-12">
            <label asp-for="ClientName" class="form-label">Kullanıcı: @ViewBag.UserName</label>
            <input type="hidden" asp-for="ClientName" value="@ViewBag.UserName" />


        </div>
        <br />
        <div class="col-12 custom-input">
            <label asp-for="ProjectTitle" class="form-label col-12 m-0">Proje Adı <span class="txt-danger"> *</span></label>
            <input asp-for="ProjectTitle" class="form-control" id="productTitle1" type="text" />

            @* <div class="invalid-feedback">Proje adını giriniz.</div> *@
        </div>
        
        <br />
        <div class="col-12">
            <label asp-for="Details" class="form-label">Açıklama</label>
            <textarea asp-for="Details" class="form-control" rows="8" placeholder="Proje açıklaması.."></textarea>

        </div>
        <div id="stagesContainer">
            <div class="stage-row mb-2">
                <input type="text" name="Stages[0].ProcessStageName" placeholder="Kolon adı" class="form-control d-inline w-50" />
                <input type="color" name="Stages[0].ColorHex" value="#007bff" class="form-control d-inline w-25" />
            </div>
        </div>
        <button type="button" onclick="addStageRow()" class="btn btn-secondary btn-sm mt-2">+ Kolon Ekle</button>
    </div>
</div>
