@model PTP.UI.Models.ProjectCreateViewModel

<div class="tab-pane fade show active" id="detail-product" role="tabpanel" aria-labelledby="detail-product-tab">
    <div class="sidebar-body">
        <div class="col-12">
            <label asp-for="ClientName" class="form-label">Kullanıcı: @ViewBag.UserName</label>
            <input type="hidden" asp-for="ClientName" value="@ViewBag.UserName" />


        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 custom-input">
                    <label asp-for="ProjectTitle" class="form-label col-12 m-0">Proje Adı <span class="txt-danger"> *</span></label>
                    <input asp-for="ProjectTitle" class="form-control" id="productTitle1" type="text" />
                    <input type="hidden" asp-for="ProjectId" />

                    @* <div class="invalid-feedback">Proje adını giriniz.</div> *@
                </div>

                <div class="mb-3">
                    <label asp-for="Details" class="form-label">Açıklama</label>
                    <textarea asp-for="Details" class="form-control" rows="8" placeholder="Proje açıklaması.."></textarea>

                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label col-12">Statüler</label>
                <button type="button" onclick="addStage()" class="btn btn-secondary btn-sm mb-3">+ Statü Ekle</button>
                <ul class="sortable-list list-unstyled" id="stageList">
                    <!-- Dinamik olarak JS ile li'ler buraya eklenecek -->
                </ul>
                
            </div>
        </div>
    </div>
</div>
