@model PTP.UI.Models.ProjectCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row g-xl-5 g-3">

                        @await Html.PartialAsync("_SidebarPartial")

                        <div class="col-xxl-9 col-xl-8 box-col-8 position-relative">
                        <form id="projectForm" asp-action="Create" method="post" enctype="multipart/form-data" class="row g-2">
                            <div class="tab-content" id="add-product-pills-tabContent">

                                @await Html.PartialAsync("_ProjectTitlePartial")

                                @await Html.PartialAsync("_ProjectFilesPartial")

                                @await Html.PartialAsync("_ProjectPersonnelsPartial")

                                <div class="tab-pane fade" id="pricings" role="tabpanel" aria-labelledby="pricings-tab">
                                    <div class="sidebar-body">
                                            @await Html.PartialAsync("_ProjectDetailsPartial")
                                            <hr style="margin-top:80px" />
                                            <div class="mt-4 d-flex justify-content-end">
                                                <button id="btnPreview" type="submit" class="btn btn-outline-primary d-flex align-items-center gap-1">
                                                    Kaydet <i class="icofont icofont-circled-right fs-5"></i>
                                                </button>
                                            </div>

                                    </div>
                                </div>
                                
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ConfirmModalPartial")