@model PTP.UI.Models.ProjectCreateViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row g-xl-5 g-3">
                        <div class="col-xxl-3 col-xl-4 box-col-4e sidebar-left-wrapper">
                            <ul class="sidebar-left-icons nav nav-pills" id="add-product-pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="detail-product-tab"
                                       data-bs-toggle="pill"
                                       href="#detail-product"
                                       role="tab"
                                       aria-controls="detail-product"
                                       aria-selected="true">

                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="../dashboard/assets/svg/icon-sprite.svg#product-detail"></use>
                                                </svg>
                                            </div>
                                        </div>

                                        <div class="product-tab-content">
                                            <h6>Proje Ekleme</h6>
                                            <p>Proje adı ve detayları</p>
                                        </div>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="gallery-product-tab" data-bs-toggle="pill" href="#gallery-product" role="tab" aria-controls="gallery-product" aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="../dashboard/assets/svg/icon-sprite.svg#product-gallery"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Proje Dosyası</h6>
                                            <p>Galeriden proje ekleme</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="category-product-tab" data-bs-toggle="pill" href="#category-product" role="tab" aria-controls="category-product" aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="../dashboard/assets/svg/icon-sprite.svg#product-category"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Personel Ekle</h6>
                                            <p>Personel atama ya da ekleme</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pricings-tab" data-bs-toggle="pill" href="#pricings" role="tab" aria-controls="pricings" aria-selected="false">
                                        <div class="nav-rounded">
                                            <div class="product-icons">
                                                <svg class="stroke-icon">
                                                    <use href="../dashboard/assets/svg/icon-sprite.svg#pricing"> </use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="product-tab-content">
                                            <h6>Proje Bilgileri</h6>
                                            <p>Proje tarih ve detayları</p>
                                        </div>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-xxl-9 col-xl-8 box-col-8 position-relative">
                        <form id="projectForm" asp-action="Create" method="post" enctype="multipart/form-data" class="row g-2">
                            <div class="tab-content" id="add-product-pills-tabContent">

                                <div class="tab-pane fade show active" id="detail-product" role="tabpanel" aria-labelledby="detail-product-tab">
                                    <div class="sidebar-body">
                                            <label asp-for="ProjectTitle" class="form-label col-12 m-0">Proje Adı <span class="txt-danger"> *</span></label>
                                            <div class="col-12 custom-input">
                                               <input asp-for="ProjectTitle" class="form-control" id="productTitle1" type="text" />
                                                
                                                @* <div class="invalid-feedback">Proje adını giriniz.</div> *@
                                            </div>
                                            <div class="col-12">
                                                <label asp-for="ClientName" class="form-label">Kullanıcı Adı</label>
                                                <input asp-for="ClientName" class="form-control" placeholder="Kullanıcı veya şirket adı" />
                                            </div>
                                            <br />
                                            <div class="col-12">
                                                        <label asp-for="Details" class="form-label">Açıklama</label>
                                                        <textarea asp-for="Details" class="form-control" rows="8" placeholder="Proje açıklaması.."></textarea>
                                                    
                                            </div>
                                        
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="gallery-product" role="tabpanel" aria-labelledby="gallery-product-tab">
                                    <div class="sidebar-body">
                                        <div class="product-upload">
                                                <div class="dz-message needsclick">
                                                    <label asp-for="ProjectFiles" class="form-label"><i class="icon-cloud-up"></i> Upload project file</label>
                                                    <input type="file" asp-for="ProjectFiles" id="projectFiles" class="form-control" multiple />
                                                   
                                                </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-6">
                                                <label asp-for="DocumentDetail" class="form-label">Açıklama</label>
                                                <textarea asp-for="DocumentDetail" class="form-control" rows="8" placeholder="Dosya detayları.."></textarea>
                                            </div>
                                            <div id="selectedFilesList" class="col-6">
                                                
                                                <!-- Seçilen dosyalar listesi -->
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="category-product" role="tabpanel" aria-labelledby="category-product-tab">
                                    <div class="sidebar-body">
                                            <div class="row g-lg-4 g-3">
                                                <div class="col-12">
                                                    <div class="row g-5">
                                                        <div class="col-sm-6">

                                                            <div class="mb-3">
                                                                <label for="personnelSelect" class="form-label">Personel Seçin</label>
                                                                <select id="personnelSelect" class="form-select" name="SelectedPersonnelIds">
                                                                    <option value="">Personel Seçin</option>
                                                                    @foreach (var person in Model.PersonnelList) 
                                                                    {
                                                                        <option value="@person.Value">@person.Text</option>
                                                                    }
                                                                </select>
                                                            </div>

                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div id="selectedPersonnelContainer" class="mt-3">
                                                                <!-- Seçilen personel listesi -->
                                                            </div>

                                                            <div id="hiddenSelectedPersonnelInputs"></div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="category-buton" >
                                                                <a class="btn button-primary" href="#!" data-bs-toggle="modal" data-bs-target="#add-personnel-modal">
                                                                    <i class="me-2 fa fa-plus"></i>Yeni Personel Ekle
                                                                </a>
                                                            </div>
                                                            

                                                            <div class="modal fade" id="add-personnel-modal" tabindex="-1" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div id="personnelForm">
                                                                            <div class="modal-header">
                                                                                <h3 class="modal-title fs-5">Yeni Personel Ekle</h3>
                                                                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body custom-input">
                                                                                <div class="row g-3">
                                                                                    <div class="col-md-6">
                                                                                        <label class="form-label">Ad Soyad <span class="text-danger">*</span></label>
                                                                                        <input type="text" class="form-control" name="FullName" />
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label class="form-label">Email <span class="text-danger">*</span></label>
                                                                                        <input type="email" class="form-control" name="Email" />
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label class="form-label">Telefon</label>
                                                                                        <input type="text" class="form-control" name="Phone" />
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <label class="form-label">Şifre <span class="text-danger">*</span></label>
                                                                                        <input type="password" class="form-control" name="Password" />
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button class="btn btn-light" type="button" data-bs-dismiss="modal">İptal</button>
                                                                                <button id="submitPersonnelBtn" class="btn btn-primary" type="submit">Ekle</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pricings" role="tabpanel" aria-labelledby="pricings-tab">
                                    <div class="sidebar-body">
                                            <div class="row g-3 custom-input">
                                                <div class="col-sm-6">
                                                    <label class="form-label" asp-for="ProjectRate">Project Rate<span class="txt-danger">*</span></label>
                                                    <input class="form-control" asp-for="ProjectRate" type="number">
                                                </div>
                                                <div class="col-sm-6">
                                                    
                                                    <label asp-for="ProjectType" class="form-label">Project Type <span class="txt-danger">*</span></label>
                                                    <select asp-for="ProjectType" class="form-select">
                                                        <option value="Hourly">Hourly</option>
                                                        <option value="Fixed">Fixed</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    @* <label class="form-label">Choose your currency</label> *@
                                                    <label asp-for="Priority" class="form-label">Priority</label>
                                                    <select asp-for="Priority" class="form-select">
                                                        <option value="Low">Low</option>
                                                        <option value="Normal">Normal</option>
                                                        <option value="High">High</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label asp-for="ProjectSize" class="form-label">Project Size <span class="txt-danger">*</span></label>
                                                    <select asp-for="ProjectSize" class="form-select">
                                                        <option value="Small">Small</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Large">Large</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label asp-for="StartingDate" class="form-label">Starting date</label>
                                                    <input asp-for="StartingDate" type="date" class="form-control" />
                                                </div>

                                                <div class="col-sm-6">
                                                    <label asp-for="EndingDate" class="form-label">Ending date</label>
                                                    <input asp-for="EndingDate" type="date" class="form-control" />
                                                </div>
                                                
                                            </div>
                                            <hr style="margin-top:80px" />
                                            <div class="mt-4 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-outline-primary d-flex align-items-center gap-1">
                                                    Kaydet <i class="icofont icofont-circled-right fs-5"></i>
                                                </button>
                                            </div>

                                    </div>
                                </div>
                                
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let selectedFiles = [];

    document.getElementById('projectFiles').addEventListener('change', function (e) {
        const newFiles = Array.from(e.target.files);

        newFiles.forEach(file => {
            if (!selectedFiles.some(f => f.name === file.name && f.size === file.size)) {
                selectedFiles.push(file);
            }
        });

        updateSelectedFilesList();
        e.target.value = ''; 
    });

    function updateSelectedFilesList() {
        const list = document.getElementById('selectedFilesList');
        list.innerHTML = '';
        selectedFiles.forEach((file, index) => {
        const mainDiv = document.createElement('div');
        mainDiv.className = "d-flex justify-content-between align-items-center border rounded p-2 mb-2 bg-light";

        const icon = document.createElement('i');
        icon.className = "f-22 fa fa-folder font-primary fs-4 me-3";

        const textWrapper = document.createElement('div');
        textWrapper.className = "flex-grow-1 text-dark";

        const fileName = document.createElement('div');
        fileName.className = "fw-semibold text-truncate";
        fileName.style.maxWidth = "100%";
        fileName.title = file.name;
        fileName.textContent = file.name;

        const fileSize = document.createElement('small');
        fileSize.className = "text-muted";
        fileSize.textContent = `${Math.round(file.size / 1024)} KB`;

        textWrapper.appendChild(fileName);
        textWrapper.appendChild(fileSize);

        const removeBtn = document.createElement('button');
        removeBtn.className = "btn btn-sm btn-outline-dark ms-3";
        removeBtn.innerHTML = '<i class="fa fa-times"></i>';
        removeBtn.title = "Dosyayı kaldır";
        removeBtn.onclick = () => {
            selectedFiles.splice(index, 1);
            updateSelectedFilesList();
        };

        mainDiv.appendChild(icon);
        mainDiv.appendChild(textWrapper);
        mainDiv.appendChild(removeBtn);
        list.appendChild(mainDiv);
        });
 }


    document.getElementById('projectForm').addEventListener('submit', function (e) {
        e.preventDefault();

           
        const form = e.target;
        const formData = new FormData(form);

        selectedFiles.forEach(file => {
            formData.append('ProjectFiles', file);
        });

        fetch(form.action || window.location.href, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                return response.text().then(text => alert("Kayıt tamamlandı mı kontrol edin!"));
            }
        })
        .catch(error => {
            console.error("Hata:", error);
            alert("Bir hata oluştu.");
        });
    });
</script>

<script>
    document.getElementById("submitPersonnelBtn").addEventListener("click", function (e) {
        e.preventDefault();

        const formData = {
            FullName: document.querySelector('[name="FullName"]').value,
            Email: document.querySelector('[name="Email"]').value,
            Phone: document.querySelector('[name="Phone"]').value,
            Password: document.querySelector('[name="Password"]').value,
            Role: "Personnel"
        };

        fetch("/Personnel/Add", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Sunucu hatası: " + response.status);
            }
            return response.json();
        })
        .then(data => {
            const ddl = document.querySelector('[name="SelectedPersonnelIds"]');
            const option = document.createElement("option");
            option.value = data.id;
            option.text = data.fullName;
            option.selected = true;
            ddl.appendChild(option);

            const modalElement = document.getElementById("add-personnel-modal");
            if (modalElement) {
                const modal = bootstrap.Modal.getInstance(modalElement);
                modal.hide();
            }
        })
        .catch(error => {
            console.error("Personel eklenirken hata:", error);
        });
    });
</script>

<script>
    const selectedPersonnel = new Set();

    document.getElementById('personnelSelect').addEventListener('change', function () {
        const select = this;
        const selectedId = select.value;
        const selectedText = select.options[select.selectedIndex].text;

        if (!selectedId || selectedPersonnel.has(selectedId)) {
            return; 
        }

        selectedPersonnel.add(selectedId);

        const container = document.getElementById('selectedPersonnelContainer');

        const div = document.createElement('div');
        div.className = "d-flex justify-content-between align-items-center border rounded p-2 mb-2 bg-light text-dark";
        div.style.width = "50%";
        const icon = document.createElement("i");
        icon.className = "fa fa-user fs-5"; 

        div.appendChild(icon);
        div.dataset.personId = selectedId;

        const nameDiv = document.createElement('div');
        nameDiv.textContent = selectedText;

        const removeBtn = document.createElement('button');
        removeBtn.className = "btn btn-sm btn-outline-dark";
        removeBtn.innerHTML = '<i class="fa fa-times"></i>';
        removeBtn.onclick = function () {
            container.removeChild(div);
            selectedPersonnel.delete(selectedId);
            document.querySelector(`#hiddenSelectedPersonnelInputs input[value="${selectedId}"]`)?.remove();
        };

        div.appendChild(nameDiv);
        div.appendChild(removeBtn);
        container.appendChild(div);

        const hiddenInputs = document.getElementById('hiddenSelectedPersonnelInputs');
        const hidden = document.createElement('input');
        hidden.type = 'hidden';
        hidden.name = 'SelectedPersonnelIds';
        hidden.value = selectedId;
        hiddenInputs.appendChild(hidden);
    });
</script>

<script>
    console.log("Script yüklendi");
</script>

