@model IEnumerable<PTP.EntityLayer.Models.Project>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .jsgrid-table {
        table-layout: fixed !important;
        width: 1500px !important;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div style="overflow-x: auto;">
                    <div id="jsGrid"></div>
                </div>

            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "auto",

            filtering: true,
            paging: true,
            autoload: true,
            pageSize: 15,
            pageButtonCount: 5,

            scrolling: true,
            scrollbarSize: 15,

             rowClick: function (args) {
                const projectId = args.item.id;
                window.location.href = "/Admin/ManageProcesses?id=" + projectId;
            },

            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/Project/GetProjects",
                        data: filter,
                        dataType: "json"
                    });
                }
            },


            fields: [
                { name: "id", type: "number", title: "Id", width: 50 },
                    {
                    name: "documents",
                    title: "Dökümanlar",
                    type: "text",
                    width: 100,
                    itemTemplate: function(docs) {
                        if (!Array.isArray(docs) || docs.length === 0) {
                            return $("<span>").text("Dosya yok");
                        }

                        var container = $("<div>").css("display", "flex").css("gap", "6px");

                        docs.forEach(function(file) {

                            var ext = file.split('.').pop().toLowerCase();
                            var fullPath = "/" + file;

                            let iconUrl;
                            switch (ext) {
                                case "pdf":
                                    iconUrl = "/icons/pdf-icon.png"; break;
                                case "doc":
                                case "docx":
                                    iconUrl = "/icons/word-icon.png"; break;
                                case "xls":
                                case "xlsx":
                                    iconUrl = "/icons/excel-icon.png"; break;
                                case "jpg":
                                case "jpeg":
                                case "png":
                                case "gif":
                                    iconUrl = fullPath; break; // resmi direkt göster
                                default:
                                    iconUrl = "/icons/file-icon.png";
                            }

                            container.append(
                                $("<a>").attr("href", fullPath).attr("target", "_blank").append(
                                    $("<img>").attr("src", iconUrl)
                                              .css({ width: "40px", height: "40px", objectFit: "cover" })
                                )
                            );
                        });

                        return container;
                    }
                },

                { name: "projectTitle", type: "text", title: "Proje Adı", width: 150 },
                { name: "clientName", type: "text", title: "Müşteri", width: 100 },
                { name: "projectRate", type: "number", title: "Rate", width: 60 },
                { name: "projectType", type: "text", title: "Tür", width: 80 },
                { name: "priority", type: "text", title: "Öncelik", width: 80 },
                { name: "projectSize", type: "text", title: "Boyut", width: 80 },
                { name: "startDate", type: "text", title: "Başlangıç", width: 100 },
                { name: "endDate", type: "text", title: "Bitiş", width: 100 },
                { name: "details", type: "text", title: "Detaylar", width: 150 },
                // { name: "documentDetail", type: "text", title: "Döküman", width: 150 },
                {
                    type: "control",
                    width: 60,
                    editButton: false,
                    deleteButton: false,
                    itemTemplate: function (_, item) {
                        return $("<div>").append(
                            $("<a>").attr("href", "/Project/Create?id=" + item.id)
                                   .html('<i class="fa fa-edit text-primary mx-1"></i>'),
                            $("<a>").attr("href", "/Project/Delete/" + item.id)
                                   .html('<i class="fa fa-trash text-danger mx-1"></i>')
                        );
                    }
                }
            ]
        });
    });
</script>


@* <div class="container-fluid"> *@
@*     <div class="row project-cards"> *@
@*         <div class="col-md-12 project-list"> *@
@*             <div class="card"> *@
@*                 <div class="row"> *@
@*                     <div class="col-md-6"> *@
@*                         <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist"> *@
@*                             <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-controls="top-home" aria-selected="true"><i data-feather="target"></i>All</a></li> *@
@*                             <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="false"><i data-feather="info"></i>Doing</a></li> *@
@*                             <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><i data-feather="check-circle"></i>Done</a></li> *@
@*                         </ul> *@
@*                     </div> *@
@*                     <div class="col-md-6 text-end"> *@
@*                         <a class="btn btn-primary" asp-controller="Project" asp-action="Create"><i data-feather="plus-square"></i> Create New Project</a> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@

@*         <div class="col-sm-12"> *@
@*             <div class="card"> *@
@*                 <div class="card-body"> *@
@*                     <div class="tab-content" id="top-tabContent"> *@

@*                         <div class="tab-pane fade show active" id="top-home" role="tabpanel"> *@
@*                             <div class="row"> *@
@*                                 @foreach (var project in Model) *@
@*                                 { *@
@*                                     <div class="col-xxl-4 col-lg-6 box-col-6 "> *@
@*                                     @Html.Partial("_ProjectCard", project) *@
@*                                     </div> *@
@*                                 } *@
@*                             </div> *@
@*                         </div> *@

@*                         <div class="tab-pane fade" id="top-profile" role="tabpanel"> *@
@*                             <div class="row"> *@
@*                                 @foreach (var project in Model.Where(p => GetCompletionRate(p) > 0 && GetCompletionRate(p) < 100)) *@
@*                                 { *@
@*                                     <div class="col-xxl-4 col-lg-6 box-col-6 "> *@
@*                                         @Html.Partial("_ProjectCard", project) *@
@*                                     </div> *@
@*                                 } *@
@*                             </div> *@
@*                         </div> *@

@*                         <div class="tab-pane fade" id="top-contact" role="tabpanel"> *@
@*                             <div class="row"> *@
@*                                 @foreach (var project in Model.Where(p => GetCompletionRate(p) == 100)) *@
@*                                 { *@
@*                                     <div class="col-xxl-4 col-lg-6 box-col-6 "> *@
@*                                         @Html.Partial("_ProjectCard", project) *@
@*                                     </div> *@
@*                                 } *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@* @functions { *@
@*     int GetCompletionRate(PTP.EntityLayer.Models.Project project) *@
@*     { *@
@*         var total = project.Processes?.Count() ?? 0; *@
@*         var done = project.Processes?.Count(p => p.ProcessType == "Done") ?? 0; *@
@*         return total == 0 ? 0 : (done * 100 / total); *@
@*     } *@
@* } *@