
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Riho admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Riho admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../dashboard/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../dashboard/assets/images/favicon.png" type="image/x-icon">
    <title>Riho - Premium Admin Template</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/jkanban.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/style.css">
    <link id="color" rel="stylesheet" href="../dashboard/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="../dashboard/assets/css/responsive.css">
</head>
<body>
    <!-- loader starts-->
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper default-wrapper" id="pageWrapper">
                                  
        <!-- Page Body Start-->
        <div class="page-body-wrapper default-menu default-menu">
    
                <!-- Container-fluid starts-->
                <div class="container-fluid jkanban-container">
                    <div class="row">
                       
                        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Custom Board  </h4>
                                    <p class="mb-0">| colors, gutter, click on board's item and restricting which boards to drag items to                         </p>
                                </div>
                                <div class="card-body">
                                    <div id="demo2">
                                        <div class="kanban-container" style="width: 1290px;">
                                            <div data-id="_todo" data-order="1" class="kanban-board" style="width: 400px; margin-left: 15px; margin-right: 15px;">
                                                <header class="kanban-board-header bg-info">
                                                    <div class="kanban-title-board">To Do (Item only in Working)</div>
                                                    </header>
                                                    <main class="kanban-drag">

                                                    <div class="kanban-item">
                                                        <a class="kanban-box" href="#">
                                                            <span class="date">24/7/20</span><span class="badge badge-info f-right">medium</span>
                                                            <h6>Test Sidebar</h6>
                                                            <div class="media">
                                                                <img class="img-20 me-1 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title="">
                                                                <div class="media-body">
                                                                    <p>Themeforest, australia</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex mt-3">
                                                                <ul class="list">
                                                                    <li><i class="fa fa-comments-o"></i>2</li>
                                                                    <li><i class="fa fa-paperclip"></i>2</li>
                                                                    <li><i class="fa fa-eye"></i></li>
                                                                </ul>
                                                                <div class="customers">
                                                                    <ul>
                                                                        <li class="d-inline-block me-3">
                                                                            <p class="f-12">+5</p>
                                                                        </li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/1.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/5.jpg" alt="" data-original-title="" title=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>

                                                    <div class="kanban-item">
                                                        <a class="kanban-box" href="#">
                                                            <span class="date">24/7/20</span><span class="badge badge-success f-right">Low</span>
                                                            <h6>Dashboard issue</h6>
                                                            <div class="media">
                                                                <img class="img-20 me-1 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title="">
                                                                <div class="media-body">
                                                                    <p>Pixelstrap, New york</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex mt-3">
                                                                <ul class="list">
                                                                    <li><i class="fa fa-comments-o"></i>2</li>
                                                                    <li><i class="fa fa-paperclip"></i>2</li>
                                                                    <li><i class="fa fa-eye"></i></li>
                                                                </ul>
                                                                <div class="customers">
                                                                    <ul>
                                                                        <li class="d-inline-block me-3">
                                                                            <p class="f-12">+5</p>
                                                                        </li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/1.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/5.jpg" alt="" data-original-title="" title=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                <button class="kanban-title-board">To Do Oluştur</button>

                                            </main>
                                                <footer></footer>
                                            </div><div data-id="_working" data-order="2" class="kanban-board" style="width: 400px; margin-left: 15px; margin-right: 15px;">
                                                <header class="kanban-board-header bg-warning"><div class="kanban-title-board">Working</div></header><main class="kanban-drag">
                                                    <div class="kanban-item">
                                                        <a class="kanban-box" href="#">
                                                            <span class="date">24/7/20</span><span class="badge badge-danger f-right">Argent</span>
                                                            <h6>Test Sidebar</h6>
                                                            <div class="media">
                                                                <img class="img-20 me-1 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title="">
                                                                <div class="media-body">
                                                                    <p>Themeforest, australia</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex mt-3">
                                                                <ul class="list">
                                                                    <li><i class="fa fa-comments-o"></i>2</li>
                                                                    <li><i class="fa fa-paperclip"></i>2</li>
                                                                    <li><i class="fa fa-eye"></i></li>
                                                                </ul>
                                                                <div class="customers">
                                                                    <ul>
                                                                        <li class="d-inline-block me-3">
                                                                            <p class="f-12">+5</p>
                                                                        </li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/1.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/5.jpg" alt="" data-original-title="" title=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div><div class="kanban-item">
                                                        <a class="kanban-box" href="#">
                                                            <span class="date">24/7/20</span><span class="badge badge-success f-right">Low</span>
                                                            <h6>Dashboard issue</h6>
                                                            <div class="media">
                                                                <img class="img-20 me-1 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title="">
                                                                <div class="media-body">
                                                                    <p>Pixelstrap, New york</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex mt-3">
                                                                <ul class="list">
                                                                    <li><i class="fa fa-comments-o"></i>2</li>
                                                                    <li><i class="fa fa-paperclip"></i>2</li>
                                                                    <li><i class="fa fa-eye"></i></li>
                                                                </ul>
                                                                <div class="customers">
                                                                    <ul>
                                                                        <li class="d-inline-block me-3">
                                                                            <p class="f-12">+5</p>
                                                                        </li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/1.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/5.jpg" alt="" data-original-title="" title=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </main><footer></footer>
                                            </div><div data-id="_done" data-order="3" class="kanban-board" style="width: 400px; margin-left: 15px; margin-right: 15px;">
                                                <header class="kanban-board-header bg-success"><div class="kanban-title-board">Done (Item only in Working)</div></header><main class="kanban-drag">
                                                    <div class="kanban-item">
                                                        <a class="kanban-box" href="#">
                                                            <span class="date">24/7/20</span><span class="badge badge-danger f-right">Argent</span>
                                                            <h6>Test Sidebar</h6>
                                                            <div class="media">
                                                                <img class="img-20 me-1 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title="">
                                                                <div class="media-body">
                                                                    <p>Themeforest, australia</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex mt-3">
                                                                <ul class="list">
                                                                    <li><i class="fa fa-comments-o"></i>2</li>
                                                                    <li><i class="fa fa-paperclip"></i>2</li>
                                                                    <li><i class="fa fa-eye"></i></li>
                                                                </ul>
                                                                <div class="customers">
                                                                    <ul>
                                                                        <li class="d-inline-block me-3">
                                                                            <p class="f-12">+5</p>
                                                                        </li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/1.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/5.jpg" alt="" data-original-title="" title=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div><div class="kanban-item">
                                                        <a class="kanban-box" href="#">
                                                            <span class="date">24/7/20</span><span class="badge badge-success f-right">Low</span>
                                                            <h6>Dashboard issue</h6>
                                                            <div class="media">
                                                                <img class="img-20 me-1 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title="">
                                                                <div class="media-body">
                                                                    <p>Pixelstrap, New york</p>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex mt-3">
                                                                <ul class="list">
                                                                    <li><i class="fa fa-comments-o"></i>2</li>
                                                                    <li><i class="fa fa-paperclip"></i>2</li>
                                                                    <li><i class="fa fa-eye"></i></li>
                                                                </ul>
                                                                <div class="customers">
                                                                    <ul>
                                                                        <li class="d-inline-block me-3">
                                                                            <p class="f-12">+5</p>
                                                                        </li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/3.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/1.jpg" alt="" data-original-title="" title=""></li>
                                                                        <li class="d-inline-block"><img class="img-20 rounded-circle" src="../dashboard/assets/images/user/5.jpg" alt="" data-original-title="" title=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </main><footer></footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            
        </div>
    </div>
    <!-- latest jquery-->
    <script src="../dashboard/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="../dashboard/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="../dashboard/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../dashboard/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="../dashboard/assets/js/scrollbar/simplebar.js"></script>
    <script src="../dashboard/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="../dashboard/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="../dashboard/assets/js/sidebar-menu.js"></script>
    <script src="../dashboard/assets/js/sidebar-pin.js"></script>
    <script src="../dashboard/assets/js/jkanban/jkanban.js"></script>
    <script src="../dashboard/assets/js/jkanban/custom.js"></script>
    <script src="../dashboard/assets/js/slick/slick.min.js"></script>
    <script src="../dashboard/assets/js/slick/slick.js"></script>
    <script src="../dashboard/assets/js/header-slick.js"></script>
    <!-- calendar js-->
    <script src="../dashboard/assets/js/typeahead/handlebars.js"></script>
    <script src="../dashboard/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="../dashboard/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="../dashboard/assets/js/typeahead-search/handlebars.js"></script>
    <script src="../dashboard/assets/js/typeahead-search/typeahead-custom.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="../dashboard/assets/js/script.js"></script>
    <script src="../dashboard/assets/js/theme-customizer/customizer.js"></script>
</body>
</html>



