@using PTP.EntityLayer.Models
@model List<Process>

@{
    ViewData["Title"] = "PersonelProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proje: </h2>

<div class="card">
    <div class="card-body">
        @foreach (var process in Model)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">İşlem: @process.Description</h5>

                    <p>
                        <strong>Personeller:</strong>
                        @if (process.ProcessPersonnels != null && process.ProcessPersonnels.Any())
                        {
                            foreach (var pp in process.ProcessPersonnels)
                            {
                                @pp.Personnel?.FullName <text>, </text>
                            }
                        }
                        else
                        {
                            <span>Atanmış personel yok</span>
                        }
                    </p>
                </div>
            </div>
        }

    </div>
</div>

